Flask	
Flask-Login	
Flask-RESTful	
flask_sqlalchemy	
werkzeug
numpy
tensorflow
joblib
opencv-python
keras
matplotlib
pandas
efficientnet
mrcnn
gunicorn
psycopg2
nltk
h5py
scipy
scikit-image